{
    "scope":"A",
    "documentation":"{{>__init__model_doc_thumb}}"
    "version":1,
    "restricted":false,
    "overridable":true,
    "files":[
        "code.py"
    ],
    "attributes":{
        "hintScope":{{hintScope}},
        "lastModificationSignature":"d3e01d208da91d446f5941b3e95f2ae9fc661c0a2b6860675b5d39a45faa57c0",
        "lastModification":{
            "actor":"{{actor}}",
            "timestamp":"{{timestamp}}"
        }
    }
}