{
    "scope": "{{resourceScope}}",
    "documentation": "{{>__init__model_doc_thumb}}",
    "version": 1,
    "restricted": {{resourceRestricted}},
    "overridable": {{resourceOverridable}},
    "files": [
        "code.py"
    ],
    "attributes": {
        "hintScope": {{resourceHintScope}},
        "lastModificationSignature": "",
        "lastModification": {
            "actor": "",
            "timestamp": ""
        }
    }
}