{{#models}}{{#model}}# {{classname}}\n{{#description}}{{&description}}{{/description}}\n## Properties\n{{#vars}}**{{name}}** - {{#isPrimitiveType}}{{dataType}}{{/isPrimitiveType}}{{^isPrimitiveType}}[{{dataType}}]({{complexType}}.md){{/isPrimitiveType}}\n{{^required}}[optional] {{/required}}{{#isReadOnly}}[readonly] {{/isReadOnly}}{{#defaultValue}}[default to {{{.}}}{{/defaultValue}}{{{description}}}\n\n{{/vars}}{{/model}}{{/models}}