{
    "title": "{{projectTitle}}",
    "description": "{{projectDescription}}",
    {{#projectHasParent}}
    "parent": "{{projectParent}}",
    {{/projectHasParent}}
    "enabled": {{projectEnabled}},
    "inheritable": {{projectInheritable}}
}